@model IEnumerable<progettomvceEsame.Models.jolnberbale>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table table-hover table-bordered container text-center">
    <tr>
        <th>cognome</th>
        <th>nome</th>
        <th>conteggioverbali</th>

    </tr>

    @foreach (progettomvceEsame.Models.jolnberbale a in Model)
    {
        <tr>
            <td>@a.cognome</td>
            <td>@a.nome</td>
            <td>@a.conteggioverbali</td>
          

        </tr>
    }
</table>